#status-drives .idle
{
    color: #fff;
    background-color: #777;
    padding-left: 2em;
    padding-right: 2em;
}

#status-drives .good
{
    color: #000;
    background-color: #5f5;
    padding-left: 2em;
    padding-right: 2em;
    background-image: url("/static/img/good.svg");
    background-repeat: no-repeat;
}

#status-drives .working
{
    color: #000;
    background-color: #ff5;
    padding-left: 2em;
    padding-right: 2em;
    background-image: url("/static/img/working.svg");
    background-repeat: no-repeat;
}

#status-drives .attention
{
    color: #000;
    background-color: #f00;
    padding-left: 2em;
    padding-right: 2em;
    animation: blinker 2s linear infinite;
    background-image: url("/static/img/warning.svg");
    background-repeat: no-repeat;
}
@keyframes blinker {
    50% {
        background-color: rgba(0,0,0,0);
    }
}

.status-view h3,
.status-view h4
{
    margin: 0px;
}

.status-view,
.status-view td,
.status-view th
{
    border: 1px solid #000;
    border-spacing: 0px;
}
