#media_sample_input
{
}

.input_pair
{
	margin: 0.25em 0;
}
.input_pair input,
.input_pair select
{
	float:right;
}


.object_form_data
{
	margin: 0.25em 0;
}
.object_form_data input,
.object_form_data select
{
	float:right;
}
